[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
"thoth.common" = "*"
click = "*"
"thoth.storages" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
